.app {
    height: 100vh;
    font-family: TrajanPro-Bold, serif;
    color: white;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 1fr;

}

.app_video {
    position: absolute;
    width: 100%;
    left: 50%;
    margin-top: -5%;
    object-fit: cover;
    transform: translateX(-50%);
    z-index: -10000;
}

.app_header {
    grid-area: 1 / 1 / 2 / 4;
}

.app_content {
    grid-area: 2 / 2 / 3 / 3;
    z-index: 2;
}

.app_ads {
    grid-area: 2 / 1 / 3 / 4;
    z-index: 1;
}