.HeroesTable {

}

.HeroesTable_img {
    width: 60px;
    border-top: 1px solid #4c4c4c;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 10px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.HeroesTable_img:hover {
    margin-top: -100px;
    box-shadow: 0 0 10px black;
    border: 1px solid #000000;
}